* {
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
  display: grid;
  place-items: center;
  background-color: rgb(51, 50, 50);
  font-family: "Poppins", sans-serif;
}

.card {
  margin-top: 10rem;
  display: grid;
  place-items: center;
  width: 30vw;
  height: 70vh;
  background-color: rgb(173, 62, 62);
  border: 1px solid white;
  border-radius: 10px;

  box-shadow: 5px 8px 5px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 8px 5px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 8px 5px -4px rgba(0, 0, 0, 0.75);
}

#jugar {
  border-radius: 10px;
  margin-left: 18px;
  margin-top: 10px;
  color: black;
  font-size: 18px;
  width: 90px;

  border: 1px solid black;
}

#jugar:hover {
  background-color: gray;
  color: white;
}

#resultado {
  font-size: 30px;
  color: white;
}

#eleccionPc {
  font-size: 30px;
  color: white;
}

#eleccionUsuario {
  font-size: 30px;
  color: white;
}

button,
img {
  width: 90px;
  height: 60px;
  margin-bottom: 10px;
}

button,
img:hover {
  width: 80px;
  height: 50px;

  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}
